In [15]:
import pandas as pd

In [17]:
df = pd.read_csv('train_Z_score.csv')

In [43]:
from scipy.stats import ttest_ind

# 봇과 휴먼 계정으로 나누기
bot_df = df[df['fake'] == 1]
human_df = df[df['fake'] == 0]

# t-test 수행
t_test_results = []
for col in df.columns[:-1]:  # 'fake' 제외
    t_stat, p_value = ttest_ind(bot_df[col], human_df[col], equal_var=False)
    t_test_results.append({
        "feature": col,
        "t_statistic": t_stat,
        "p_value": p_value,
        "reject_null": p_value < 0.05
    })

# 결과를 DataFrame으로 변환하고 정렬
t_test_df = pd.DataFrame(t_test_results).sort_values(by="p_value")

# CSV로 저장
t_test_df.to_csv("t_test_results.csv", index=False)

C:\Users\qkrgm\AppData\Roaming\Python\Python312\site-packages\scipy\stats\_axis_nan_policy.py:586: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [63]:

t_test_df[:][['feature','p_value','reject_null']]

                 feature       p_value  reject_null
0            profile pic  1.212476e-56         True
1   nums/length username  5.029349e-50         True
5     description length  2.310173e-30         True
6           external URL  3.033368e-18         True
2         fullname words  3.495455e-13         True
3   nums/length fullname  3.130066e-09         True
8                 #posts  4.160557e-09         True
10              #follows  5.210246e-08         True
4         name==username  4.261128e-05         True
9             #followers  2.491610e-02         True
7                private  4.935245e-01        False

In [65]:
import pandas as pd

# 파일 경로
file_path = "/mnt/data/train_Z_score.csv"

# CSV 파일 불러오기
df = pd.read_csv(file_path)

# 데이터프레임 정보 확인
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   profile pic           576 non-null    float64
 1   nums/length username  576 non-null    float64
 2   fullname words        576 non-null    float64
 3   nums/length fullname  576 non-null    float64
 4   name==username        576 non-null    float64
 5   description length    576 non-null    float64
 6   external URL          576 non-null    float64
 7   private               576 non-null    float64
 8   #posts                576 non-null    float64
 9   #followers            576 non-null    float64
 10  #follows              576 non-null    float64
 11  fake                  576 non-null    int64
dtypes: float64(11), int64(1)
memory usage: 54.1 KB

(None,
    profile pic  nums/length username  fullname words  nums/length fullname  \
 0      0.65249              0.496299       -1.388312             -0.288723
 1      0.65249             -0.765916        0.513395             -0.288723
 2      0.65249             -0.298429        0.513395             -0.288723
 3      0.65249             -0.765916       -0.437459             -0.288723
 4      0.65249             -0.765916        0.513395             -0.288723

    name==username  description length  external URL   private    #posts  \
 0       -0.189661            0.806385     -0.362809 -0.786115 -0.187932
 1       -0.189661            0.567470     -0.362809 -0.786115  0.444404
 2       -0.189661           -0.600561     -0.362809  1.272078 -0.235233
 3       -0.189661            1.576224     -0.362809 -0.786115  1.422782
 4       -0.189661           -0.600561     -0.362809  1.272078 -0.252659

    #followers  #follows  fake
 0   -0.092711  0.486945     0
 1   -0.090797  0.026841     0
 2   -0.093636 -0.447437     0
 3   -0.093355  0.155496     0
 4   -0.093644 -0.416909     0  )